*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-box{
   margin-top: 8%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
#line{
    width: 12%;
    height: 5px;
    background-color: blue;
    margin: 0 auto;
    margin-top: 20px;

}
.img-box{
    width: 150px;
    height: 150px;
 /* background-image: url("./images/img1.jpg"); */
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
    border-radius: 50%;
margin-left: 40%;
  margin-top: 10px;
  padding: 30px;
}
#box1{
    width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid rgb(248, 242, 242);
    box-shadow:  5px 15px 15px #dedbdb;
    text-align: center;
  
}
h1{
    font-size: 1.1rem;
    padding: 10px;
}
p{
    padding: 20px;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.icon{
    display: flex;
    justify-content: center;
   
}